<!doctype html>
<html lang="en" ng-app>

<head>
  <body>
<style>
    body{
    background-image: url('Mountains.jpg');
    }
    </style>
    
    
    <h1 style="font-family:verdana;">Tomb Raider</h1>
    <img src="tombraider.jpg" alt="movie" width="250" height="200">
    <p style="text-align:left;" font-color="white;">
      This live action feature is inspired by the most successful 
      interactive video-game character in history -- Lara Croft.
      Beautiful and brainy, Lara (Angelina Jolie) 
      is the heroine of Eidos Interactive's phenomenally successful "Tomb Raider" game series.
    </p>
    
    <h1 style="font-family:verdana;"font color="red">King Kong</h1>
    <img src="kingkong.jpg" alt="movie" width="250" height="200">
    <p style="text-align:left;" font-color="white;">
      Peter Jackson's expansive remake of the 1933 classic follows director Carl Denham (Jack Black) and his crew on a 
      journey from New York City to the ominous Skull Island to film a new movie
    </p>
    
    <h1 style="font-family:verdana;"font color="red">Godzilla</h1>
    <img src="godzilla.jpg" alt="movie" width="250" height="200">
    <p style="text-align:left;" font-color="white;">
      Godzilla is a monster originating from a series of tokusatsu films of the same name from Japan.
    </p>
    
    <h1 style="font-family:verdana;"font color="red">Daddy's Home 2</h1>
    <img src="daddyshome2.jpg" alt="movie" width="250" height="200">
    <p style="text-align:left;" font-color="white;">
      Father and stepfather Dusty and Brad join forces to make Christmastime perfect for the children.
    </p>
</body>

</html>